*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f7f8;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    width: 100vw;
    background-color: rgb(247, 191, 23);
    color: #282936;
}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;
    /* height: 13vh; */
}
.add:active{
    transform: scale(.98);
}
.btn-div{
    position: fixed;
    top: 7rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    transition:  all .45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    border-radius: 2rem ;
    height: 3rem;
    background: #f1c12e;
}
button.learn-more .circle .icon{
    transition:  all .45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow{
    transition:  all .45s cubic-bezier(0.65, 0, 0.076, 1);
    left: .625rem;
    width: 1.125rem;
    height: .125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before{
    position: absolute;
    content: "";
    top: -0.25rem;
    right: .0625rem;
    width: .625rem;
    height: .625rem;
    border-top: .125rem solid #fff;
    border-right: .125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text{
    transition:  all .45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle{
    width: 100%;
}
button:hover .circle .icon.arrow{
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text{
    color: #fff;
}
